@model IEnumerable<UPFCONF.Models.Participant>

@{
    ViewBag.Title = "Participants";
}

<h2>Participants</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.ID_Participant)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Mot_De_Passe)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.ID_Participant)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @* <td>
            @Html.DisplayFor(modelItem => item.Mot_De_Passe)
        </td>*@
        <td>
            <button onclick="location.href='@Url.Action("Edit", new { id = item.ID_Participant })'" class="btn btn-primary">Edit</button>
            <button onclick="location.href='@Url.Action("Details", new { id = item.ID_Participant })'" class="btn btn-info">Details</button>
            <button onclick="location.href='@Url.Action("Delete", new { id = item.ID_Participant })'" class="btn btn-danger">Delete</button>
        </td>
    </tr>
}

</table>
